<nav style="position: fixed; background: rgb(255, 255, 255, 0.75) ; font-size: 100%; width: 100%; padding: 10px 0; z-index: 1;">
    <div style="display: flex; flex-direction: row; width: 90%; margin: auto; justify-content: space-between;">
     <div style="display:flex; align-items: center;">
      <img src = "img/logo.png" style="width: 50px; height: auto; margin-right: 20px;">
      <a class = "linkHome" href = " " > Именная стипендия Правительства Москвы </a>
     </div>
     <div style="display: flex; align-items: center;">
      <a class = "linkHome" href = " " > Проекты </a>
      <a class = "linkHome" href = " " > Новости </a>
      <a class = "linkHome" href = " " > Документы </a>
      <a href=""> <img src="img/user.png" alt="" style="width: 40px; height: auto;"> </a>
     </div>
    </div>
   </nav>